<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Config.plist
   Multi Environment

   Created by Agus Cahyono on 4/10/17.
   Copyright (c) 2017 balitax. All rights reserved.
-->
<plist version="1.0">
    <dict>
		<key>Production</key>
		<dict>
			<key>APIEndpointURL</key>
			<string>http://google.com</string>
			<key>globalSocketURL</key>
			<string>http://google.com</string>
		</dict>
		<key>Staging</key>
		<dict>
			<key>APIEndpointURL</key>
			<string>http://google.com/staging</string>
			<key>globalSocketURL</key>
			<string>http://google.com/staging</string>
		</dict>
		<key>Development</key>
		<dict>
			<key>APIEndpointURL</key>
			<string>http://google.com/development</string>
			<key>globalSocketURL</key>
			<string>http://google.com/development</string>
		</dict>
    </dict>
</plist>
